.usage-example {
	margin-left: auto;
	margin-right: auto;
}

#main > .price-header {
	font-size: 2.75em;
	margin-bottom: 60px;
	border-bottom: solid 2px #e5e5e5;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.offer-title {
	font-weight: 500;
}

.offer-title.bronze {
	color: #731d1d;
}

.offer-title.silver {
	color: #c0c0c0;
}

.offer-title.gold {
	color: #ffd700;
}

.background-1 {
	height: 144px;
	background-image: url('/images/pic02.jpg');
}

.background-2 {
	height: 144px;
	background-image: url('/images/pic03.jpg');
}

.background-3 {
	height: 144px;
	background-image: url('/images/pic04.jpg');
}

.price {
	line-height: 3.5em;
	color: #FFF;
}


/* DASHBOARD */

.consumption i {
	margin-right: 10px;
}
.consumption .offer {
	margin-bottom: 20px;
}

.warning {
  color: red;
}

.sign-in-twitter-button {
  border-bottom: none;
  padding-left: 15px;
}

.sign-in-twitter-button img {
  vertical-align: bottom;
}

.total-consumption {
  margin-bottom: 30px;
}

/* API DOCS */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}

.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

/* FOOTER */

.footer-label {
  vertical-align: text-bottom;
}